* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

\:root {
  font-size: calc(16px + (24 - 16)*(100vw - 320px)/ (1280 - 320));
}

#body, .preloader {
  display: flex;
}

body {
  font: 1em Dosis, sans-serif;
}

#body {
  background: #000;
  color: #3df1f1;
  height: 100vh;
  line-height: 1.5;
  perspective: 40em;
}

.preloader {
  width: 100%;
  height: 100vh;
  animation: tiltSpin 8s linear infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 17em;
  height: 17em;
}

.preloader, .preloader__ring {
  transform-style: preserve-3d;
}

.preloader__ring {
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
  font-size: 2em;
  position: relative;
  height: 3rem;
  width: 1.5rem;
}

.preloader__ring:nth-child(even) {
  animation-direction: reverse;
}

.preloader__sector {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(7rem);
}

.preloader__sector, .preloader__sector:empty:before {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.preloader__sector:empty:before {
  background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
  content: "";
}

.preloader__sector:nth-child(2) {
  transform: rotateY(12deg) translateZ(7rem);
}

.preloader__sector:nth-child(3) {
  transform: rotateY(24deg) translateZ(7rem);
}

.preloader__sector:nth-child(4) {
  transform: rotateY(36deg) translateZ(7rem);
}

.preloader__sector:nth-child(5) {
  transform: rotateY(48deg) translateZ(7rem);
}

.preloader__sector:nth-child(6) {
  transform: rotateY(60deg) translateZ(7rem);
}

.preloader__sector:nth-child(7) {
  transform: rotateY(72deg) translateZ(7rem);
}

.preloader__sector:nth-child(8) {
  transform: rotateY(84deg) translateZ(7rem);
}

.preloader__sector:nth-child(9) {
  transform: rotateY(96deg) translateZ(7rem);
}

.preloader__sector:nth-child(10) {
  transform: rotateY(108deg) translateZ(7rem);
}

.preloader__sector:nth-child(11) {
  transform: rotateY(120deg) translateZ(7rem);
}

.preloader__sector:nth-child(12) {
  transform: rotateY(132deg) translateZ(7rem);
}

.preloader__sector:nth-child(13) {
  transform: rotateY(144deg) translateZ(7rem);
}

.preloader__sector:nth-child(14) {
  transform: rotateY(156deg) translateZ(7rem);
}

.preloader__sector:nth-child(15) {
  transform: rotateY(168deg) translateZ(7rem);
}

.preloader__sector:nth-child(16) {
  transform: rotateY(180deg) translateZ(7rem);
}

.preloader__sector:nth-child(17) {
  transform: rotateY(192deg) translateZ(7rem);
}

.preloader__sector:nth-child(18) {
  transform: rotateY(204deg) translateZ(7rem);
}

.preloader__sector:nth-child(19) {
  transform: rotateY(216deg) translateZ(7rem);
}

.preloader__sector:nth-child(20) {
  transform: rotateY(228deg) translateZ(7rem);
}

.preloader__sector:nth-child(21) {
  transform: rotateY(240deg) translateZ(7rem);
}

.preloader__sector:nth-child(22) {
  transform: rotateY(252deg) translateZ(7rem);
}

.preloader__sector:nth-child(23) {
  transform: rotateY(264deg) translateZ(7rem);
}

.preloader__sector:nth-child(24) {
  transform: rotateY(276deg) translateZ(7rem);
}

.preloader__sector:nth-child(25) {
  transform: rotateY(288deg) translateZ(7rem);
}

.preloader__sector:nth-child(26) {
  transform: rotateY(300deg) translateZ(7rem);
}

.preloader__sector:nth-child(27) {
  transform: rotateY(312deg) translateZ(7rem);
}

.preloader__sector:nth-child(28) {
  transform: rotateY(324deg) translateZ(7rem);
}

.preloader__sector:nth-child(29) {
  transform: rotateY(336deg) translateZ(7rem);
}

.preloader__sector:nth-child(30) {
  transform: rotateY(348deg) translateZ(7rem);
}

/* Animations */
@keyframes tiltSpin {
  from {
    transform: rotateY(0) rotateX(30deg);
  }

  to {
    transform: rotateY(1turn) rotateX(30deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1turn);
  }
}

button {
  border: none;
  outline: none;
  color: #fff;
}
.rainbow-button {
  width:200px;
  height: 70px;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size: 20px;
  font-weight:bold;
}
.rainbow-button:after {
  content:attr(alt);
  padding: 30px;
  width:190px;
  height:40px;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.hid {
  text-align: center;
}

.form-field {
  overflow: hidden;
  padding-bottom: 2px; }

label {
  display: block;
  position: relative; }
  label::after {
    background: red;
    bottom: -2px;
    content: ' ';
    display: block;
    height: 3px;
    left: -360px;
    position: absolute;
    transition: left 0.3s ease;
    width: 360px;
    z-index: 10; }
  label:focus-within .textarea-clone {
    height: 140px;
    opacity: 0; }
  label:focus-within::after {
    left: 0; }

label span {
  display: block;
  color: gray;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 6px;
  text-transform: uppercase; }

textarea {
  border: none;
  border-bottom: 1px solid #46494D;
  display: block;
  font-size: 18px;
  line-height: 1.5em;
  outline: none;
  padding: 0 3px;
  transition: border 0.3s ease, margin 0.3s ease;
  width: 354px; }
  input:focus, textarea:focus {
    color: #003352; }

textarea.phone {
  float: left;
  margin-right: 6px;
  width: 3em; }

textarea {
  background-attachment: local;
  background-color: transparent;
  line-height: 28px;
  margin: 0;
  transition: height 0.5s ease, opacity 0.5s ease 0.1s; }
  textarea:not(:focus) {
    height: 27px; }
    textarea:not(:focus)::-webkit-scrollbar {
      display: none; }
  textarea:focus {
    height: 139px; }
  textarea.solid {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23DADBDB' d='M0 28h18v-1H0z' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  textarea.dashed {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23DADBDB' d='M0 28h3v-1H0z' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  textarea.dotted {
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23b5b6b8' d='M0 28h1v-1H0z' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.textarea-clone {
  border-bottom: 1px solid #46494D;
  display: none;
  line-height: 28px;
  height: 27px;
  opacity: 1;
  overflow: hidden;
  padding: 0 3px;
  position: absolute;
  text-overflow: ellipsis;
  top: 24px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  width: 354px;
  z-index: -1; }

  h3,h4,h5 {
   font-weight: 300 !important;
}