@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  display: none;
}

@media screen and (max-width: 1400px) {

  .laptop-tablet-view {
    display: none;
  }

  .navbar {
    display: none!important;
  }

  body {
    width: 100%;
    height: 100vh;
    color: #000;
    overflow: hidden;
    scrollbar-width: none!important;
    display: initial;
  }

  .loader {
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    background: #fff url("Logo.png") no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header {
    width: 100%;
    height: 100vh;
  }
  
  .name {
    font-size: 20px;
  }
  
  .username {
    position: absolute;
    font-size: 2rem;
    top: 20px;
  }
  
  .hello {
    position: absolute;
    left: 30px;
    top: 40px;
  }
  
  .username {
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .userlogo {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background-color: skyblue;
    position: absolute;
    right: 50px;
    top: 50px;
    display: grid;
    place-items: center;
    color: #000;
    border: 0.5px solid #000;
    filter: hue-rotate(200deg);
  }
  
  .bottom-navigation {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .ni {
    font-size: 25px;
  }
  
  .active {
    padding: 12px;
    background-color: gray;
    border-radius: 50px;
    transition: all 0.1s ease;
  }
  
  .main {
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .home-section {
    width: 100%;
    height: 105vh;
    overflow-y: scroll;
  }
  
  .self-check-up-covid-19, .data-list-doctors-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 120px;
    overflow: hidden;
    border-radius: 20px;
    background: skyblue;
    z-index: -1;
    border: 0.5px solid #000;
  }
  
  .self-check-up-covid-19 img, .data-list-doctors-list img {
    width: 90px;
    height: 90px;
  }
  
  .self-check-up-covid-19 div, .data-list-doctors-list div {
    margin-top: 20px;
  }
  
  .self-check-up-covid-19 div h4, .data-list-doctors-list div h4 {
    font-size: 15px;
  }
  
  .self-check-up-covid-19 div p, .data-list-doctors-list div p {
    font-size: 12px;
  }
  
  .searchDoctor-box, .search-doctor-chat {
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: skyblue;
    border-radius: 20px;
    border: 0.5px solid #000;
  }
  
  .searchDoctor-box input, .search-doctor-chat input {
    width: 80%;
    height: 70px;
    border: none;
    outline: none;
    color: #000;
    background: none;
    border-radius: 20px;
    padding-left: 15px;
  }
  
  .searchDoctor-box button, .search-doctor-chat button {
    border: none;
    outline: none;
    background: none;
    color: #000;
  }
  
  .top-doctors-name {
    width: auto;
    height: 150px;
  }
  
  .card1 {
    width: 170px;
    height: 210px;
    background-color: skyblue;
    border-radius: 20px;
    border: 0.5px solid #000;
  }
  
  .top-doctors-name img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
  }
  
  .card-doctor {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-doctors-name .doctor-name {
    position: relative;
    top: 20px;
    font-size: 17px;
  }
  
  .dn {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .top-doctors-name:nth-child(1) {
    margin-left: 400px;
  }
  
  .top-doctors-name:last-child {
    margin-right: 20px;
  }
  
  .top-doctors-name {
    margin-left: 20px;
  }
  
  /* Appointment */

  .sktch {
    width: 100vw;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .appointment-section {
    width: 100vw;
    position: absolute;
    top: 5px;
  }
  
  .schedule-button-option {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .upcomming-button, .completed-button, .canceled-button, .sh-button, .chat-with-doctors-button, .remainders-button {
    padding: 10px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    transition: 0.1s ease;
  }
  
  .active-schedule-button-option {
    transition: 0.5s ease;
    background-color: #eee;
  }
  
  .appointment-title {
    margin-left: 25px;
  }
  
  .schedule-appointment {
    height: 100vh;
    overflow-y: scroll;
  }

  .appointment-schedule-upcomming {
    text-align: left;
    margin-left: 20px;
    height: 27pc;
    overflow-y: scroll;
  }

  .appointment-schedule-upcomming-cards {
    width: 90%;
    height: 13pc;
    padding-top: 1pc;
    padding-left: 1pc;
  }

  .appointment-schedule-upcomming-card {
    width: 110%;
    height: 160px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 20px;
    position: relative;
    right: 10px;
  }

  .d-flex-mobile-info-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .d-flex-mobile-info-card span {
    position: relative;
    left: 15px;
    top: 10px;
  }

  .d-flex-mobile-info-card img {
    width: 50px;
    height: 50px;
    position: relative;
    right: 10px;
  }

  .appointment-schedule-upcomming-card-info {
    position: relative;
    bottom: 19px;
  }

  .appointment-schedule-upcomming-card-data-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .appointment-schedule-upcomming-card-data-info, .appointment-schedule-upcomming-button {
    position: relative;
    bottom: 10px;
  }

  .appointment-schedule-upcomming-button {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }

  .appointment-schedule-upcomming-button button {
    width: 45%;
    height: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .active-Reshudule {
    background-color: skyblue;
  }

  /*  */

  .appointment-schedule-completed {
    text-align: left;
    margin-left: 20px;
    height: 27pc;
    overflow-y: scroll;
  }

  .appointment-schedule-completed-cards {
    width: 90%;
    height: 13pc;
    padding-top: 1pc;
    padding-left: 1pc;
  }

  .appointment-schedule-completed-card {
    width: 110%;
    height: 160px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 20px;
    position: relative;
    right: 10px;
  }

  .d-flex-mobile-info-card-completed {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .d-flex-mobile-info-card-completed span {
    position: relative;
    left: 15px;
    top: 10px;
  }

  .d-flex-mobile-info-card-completed img {
    width: 50px;
    height: 50px;
    position: relative;
    right: 10px;
  }

  .appointment-schedule-completed-card-info {
    position: relative;
    bottom: 19px;
  }

  .appointment-schedule-completed-card-data-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .appointment-schedule-completed-card-data-info, .appointment-schedule-completed-button {
    position: relative;
    bottom: 10px;
  }

  .appointment-schedule-completed-button {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }

  .appointment-schedule-completed-button button {
    width: 45%;
    height: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .active-Reshudule-completed {
    background-color: skyblue;
  }

  /* Cancel */

  .appointment-schedule-cancel {
    text-align: left;
    margin-left: 20px;
    height: 27pc;
    overflow-y: scroll;
  }

  .appointment-schedule-cancel-cards {
    width: 90%;
    height: 13pc;
    padding-top: 1pc;
    padding-left: 1pc;
  }

  .appointment-schedule-cancel-card {
    width: 110%;
    height: 160px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 20px;
    position: relative;
    right: 10px;
  }

  .d-flex-mobile-info-card-cancel {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .d-flex-mobile-info-card-cancel span {
    position: relative;
    left: 15px;
    top: 10px;
  }

  .d-flex-mobile-info-card-cancel img {
    width: 50px;
    height: 50px;
    position: relative;
    right: 10px;
  }

  .appointment-schedule-cancel-card-info {
    position: relative;
    bottom: 19px;
  }

  .appointment-schedule-cancel-card-data-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .appointment-schedule-cancel-card-data-info, .appointment-schedule-cancel-button {
    position: relative;
    bottom: 10px;
  }

  .appointment-schedule-cancel-button {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }

  .appointment-schedule-cancel-button button {
    width: 45%;
    height: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .active-Reshudule-cancel {
    background-color: skyblue;
  }
  
  /* Chat Remainder */
  
  .chat-remainder-section {
    width: 100vw;
    position: absolute;
    top: 5px;
  }
  
  .search-doctor-chat {
    width: 90%;
  }
  
  .doctor-chat-name-card {
    width: 90%;
    height: 100px;
    background-color: skyblue;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .doctor-chat-name-card img {
    width: 85px;
    height: 85px;
  }
  
  .doctor-chat-name-time-message-number {
    position: relative;
    top: 5px;
    right: 5px;
  }
  
  .time {
    font-size: 15px;
    color: gray;
  }

  .doctor-card {
    width: 100%;

  }
  
  .doctor-chat-name-message-number {
    background-color: rgb(101, 101, 143);
    border-radius: 20px;
    width: 25px;
    height: 25px;
    font-size: 10px;
    display: grid;
    place-items: center;
  }
  
  .doctor-chat-name-message-number {
      position: relative;
      bottom: 15px;
  }
  
  .doctor-chat-name-option {
    position: relative;
    top: 1px;
    width: 150px;
    height: 50px;
    overflow: hidden;
    text-align: left;
  }

  .chat-shot-preview {
    font-size: 10px;
    font-weight: 100;
    position: relative;
    bottom: 10px;
    width: 150%;
    overflow: hidden;
  }

  .chat-appointment-chat {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .chat-appointment-chat h1 {
    position: relative;
    top: 100px;
  }

  .register-doctor-to-dr-joshi {
    position: relative;
    top: 200px;
  }

  .choose-another-doctor-chat {
    position: relative;
    top: 300px;
  }

  .d-none-some-color {
    background: transparent;
    color: transparent;
  }

  .d-none-some-color .time {
    color: transparent!important;
  }

  .d-none-some-color .doctor-chat-name-message-number {
    background: transparent;
  }

  .payment-appointment-chat {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .payment-appointment-chat button {
    padding: 5px 50px;
    font-size: 3rem;
  }

  .chat-chat {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .display-message-chat {
    width: 100vw;
    height: 35rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .display-message-chat-char {
    width: 95vw;
    height: 95%;
  }

  .our-side {
    width: 15rem;
    height: auto;
    background-color: skyblue;
    border-radius: 20px;
    float: right;
    display: grid;
    place-items: center;
    margin-top: 20px;
    padding: 20px;
  }

  .send-message {
    width: 90%;
    height: 7%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: relative;
    top: 33rem;
  }

  .send-message input {
    width: 80%;
    height: 100%;
    padding: 0 15px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .end-chat-message {
    position: relative;
    top: 35rem;
  }
}