html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: #293039;
  overflow: hidden;
  color: white;
  scrollbar-width: none!important;
}

.loader {
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  background: #293039 url("Logo.png") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 100vh;
}

.name {
  font-size: 20px;
}

.username {
  position: absolute;
  font-size: 2rem;
  top: 20px;
}

.hello {
  position: absolute;
  left: 30px;
  top: 40px;
}

.username {
  margin-top: 40px;
  margin-left: 30px;
}

.userlogo {
  width: 50px;
  height: 50px;
  border-radius: 90px;
  background-color: skyblue;
  position: absolute;
  right: 50px;
  top: 50px;
  display: grid;
  place-items: center;
  color: #fff;
}

.bottom-navigation {
  width: 100%;
  height: 70px;
  background-color: rgb(91, 144, 161);
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ni {
  font-size: 25px;
}

.active {
  padding: 10px;
  background-color: #293039;
  border-radius: 50px;
  transition: all 0.1s ease;
}

.main {
  width: 100%;
  height: 69vh;
  margin-top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-section {
  width: 100%;
  height: 100vh;
}

.self-check-up-covid-19 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 120px;
  overflow: hidden;
  border-radius: 20px;
  background: #19202b;
  z-index: -1;
}

.self-check-up-covid-19 img {
  width: 90px;
  height: 90px;
}

.self-check-up-covid-19 div {
  margin-top: 20px;
}

.self-check-up-covid-19 div h4 {
  font-size: 15px;
}

.self-check-up-covid-19 div p {
  font-size: 12px;
}

.searchDoctor-box {
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #19202b;
  border-radius: 20px;
}

.searchDoctor-box input {
  width: 80%;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  background: none;
  border-radius: 20px;
  padding-left: 15px;
}

.searchDoctor-box button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
}

.top-doctors-name {
  width: auto;
  height: 150px;
}

.card1 {
  width: 170px;
  height: 210px;
  background-color: #19202b;
  border-radius: 20px;
}

.top-doctors-name img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 20px;
}

.card-doctor {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-doctors-name .doctor-name {
  position: relative;
  top: 20px;
  font-size: 17px;
}

.dn {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.top-doctors-name:nth-child(1) {
  margin-left: 400px;
}

.top-doctors-name:last-child {
  margin-right: 20px;
}

.top-doctors-name {
  margin-left: 20px;
}

/* Appointment */

.appointment-section {
  width: 100vw;
  position: absolute;
  top: 5px;
}

.schedule-button-option {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #19202b;
  border-radius: 10px;
}

.upcomming-button, .completed-button, .canceled-button, .sh-button {
  padding: 10px 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  transition: 0.1s ease;
}

.active-schedule-button-option {
  transition: 0.5s ease;
  background-color: #0b0f16; 
}