body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #293039;
  overflow: hidden;
  color: white;
}

.loader {
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  background: url("Logo.png") no-repeat center;
}

.login-label {
  font-size: 40px;
  cursor: text;
}
  
.form {
  width: 22rem;
}